nav {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/second.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 20vh;
    margin: 0; 
}

#about-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5vw; 
    padding: 10rem;  
}

.about-image-container {
    max-width: 50%; 
}

.about-landing-image {
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
    border-radius: 50%;
}

.about-landing-text {
    display: flex; 
    flex-direction: column;
    gap: 5vh; 
    width: 50%; 
}

.about-landing-text p {
    font-size: 1.2rem; 
}

.vertical-line {
    height: auto; 
    width: 8px; 
    background: #c7a17a;
}

.about-quote-break {
    display: flex; 
    flex-direction: row;
    gap: 2vw; 
}

.icon-container {
    display: flex; 
    flex-direction: row;
    gap: 2vw; 
}

.icon-container img {
    color: rgb(117,117, 117);
}