* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/landing.jpg");
    background-size: cover; 
    background-repeat: no=repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    position: relative; 
}

#landing-container {
    position: absolute; 
    color: #fff; 
    position: absolute;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column;
    gap: 5vh;
}

#landing-container img {
    max-width: 50%;
    margin: 0 auto; 
}

.button {
    border: solid white 5px;
    max-width: 50%; 
    margin: auto; 
    padding: 1rem 6rem;
    color: #fff; 
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.2s; 
    text-transform: uppercase;
}

.button:hover {
    background: #fff; 
    color: #000; 
}

.landing-text {
    display: flex; 
    flex-direction: column;
    gap: 3rem;
}

nav {
    color: #fff; 
    display: flex; 
    justify-content: space-between;
    margin: 0 2vw;
    padding: 3vh;
    max-width: 100vw; 
}

nav ul {
    list-style: none;
    display: flex; 
    flex-direction: row; 
    gap: 3vw;
}

a {
    text-decoration: none;
}

a:link {
    color: white; 
    font-size: 1.5rem;
}

a:visited {
    color: white; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hero {
    background-color: #eae7de; 
    margin-top: 97vh; 
    height: 100vh;
    padding: 10rem; 
    display: flex; 
    flex-direction: row;
    gap: 10vw; 
}

.hero-text {
    max-width: 50%;
}

.hero-text h2 {
    color: #c7a17a;
    font-size: 2rem;
    text-align: center;
    width: 100%; 
}

.line{
    height: 3px;
    width: 50%; 
    background-color: #c7a17a;
    margin: 5vh auto; 
}

.hero-text p {
    font-size: 1.3rem;
    line-height: 1.5;
}

#second-image {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/second.jpg");
    background-size: cover; 
    background-repeat: no=repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 70vh;
    display: flex; 
    flex-direction: row;
    padding: 10rem; 
    gap: 10vw; 
}

#second-image img {
    max-width: 50%; 
    margin: 0 auto; 
}

.second-hero {
    color: #fff; 
    max-width: 50%;
}

.second-hero h1 {
    padding: 3vh 0; 
}

.second-hero {
    padding-bottom: 1rem; 
}

.button-v2 {
    color: #fff; 
    background-color: #c7a17a;
    padding: 1rem 2.5rem; 
    border: none; 
    font-size: 1.2rem; 
    margin-top: 1rem; 
}

#second-hero {
    background-color: #eae7de;  
    height: 140vh; 
    padding: 5rem; 
}

.blurb-container {
    display: flex; 
    flex-direction: row;
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 20vh; 
}

.blurb {
    max-width: inherit; 
    padding: 3rem; 
}

.blurb-icon {
    max-width: 30%; 
}

.blurb-title {
    padding: 1rem 0;
    font-size: 1.5rem; 
    text-transform: uppercase; 
}

.blurb-text {
    max-width: 70%; 
    margin: auto; 
    text-align: center;
}

#slider-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.slider-text-container {
    background: url("../images/slider.jpg");
    height: auto;  
    max-width: 100%; 
}

.slider-images {
    transform: translateY(-10px);
    width: 100%; 
    height: auto; 
}

.slider-images img {
    max-width: 100% ;
    height: auto; 
}

footer {
    background: #1a1a1a;
    height: 60vh; 
    padding: 5rem;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.hours-container, .news-container, .contact-container, .locations-container {
    display: flex; 
    flex-direction: column; 
    gap: 2vh; 
    color: #fff; 
}