* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/landing.jpg");
    background-size: cover; 
    background-repeat: no=repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    position: relative; 
}

#landing-container {
    position: absolute; 
    color: #fff; 
    position: absolute;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column;
    gap: 5vh;
}

.button {
    border: solid white 5px;
    max-width: 50%; 
    margin: auto; 
    padding: 1rem 6rem;
    color: #fff; 
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.2s; 
    text-transform: uppercase;
}

.button:hover {
    background: #fff; 
    color: #000; 
}

.landing-text {
    display: flex; 
    flex-direction: column;
    gap: 3rem;
}

nav {
    color: #fff; 
    display: flex; 
    justify-content: space-between;
    margin: 0 2vw;
    padding: 2vh;
    max-width: 100vw; 
}

nav ul {
    list-style: none;
    display: flex; 
    flex-direction: row; 
    gap: 3vw;
}

#hero {
    background-color: #eae7de; 
    margin-top: 97vh; 
    height: 100vh; 
}

#second-image {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/second.jpg");
    background-size: cover; 
    background-repeat: no=repeat; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh;
}

#container {
    background-color: #eae7de;  
    height: 100vh; 
}

footer {
    background: #1a1a1a;
    height: 60vh; 
    padding: 5vh 5vw; 
}